<div class="container">
  <h2>Receipts</h2>

  <!-- Forma za prikaz detalja računa -->
  <form [formGroup]="receiptForm" (ngSubmit)="saveReceipt()">
    <div class="form-group">
      <label for="cashierId"style="font-size:20px">User:</label>
      <select formControlName="cashierId" id="cashierId" class="form-control"(change)="onChangeUser($event)">
        <option *ngFor="let user of users" [value]="user.id" [selected]="user.id === selectedUserId" >
          {{ user.firstName }} {{ user.lastName }}
        </option>
      </select>     
    </div>  

    <div class="form-group">
      <label style="font-size:20px">Payment method:</label>
      <div class="form-check">
        <label for="creditCard" class="form-check-label">Credit Card</label>
        <input type="radio" formControlName="paymentMethod" id="creditCard" value="Credit Card" class="form-check-input">
       
      </div>
      <div class="form-check">
        <label for="cash" class="form-check-label">Cash</label>
        <input type="radio" formControlName="paymentMethod" id="cash" value="Cash" class="form-check-input">
        
      </div>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-danger" (click)="deleteReceipt()" [disabled]="!selectedReceipt">Delete</button>
    
  </form>

  <div class="navigation-buttons" style="margin-top: 20px;">
    <button type="button" class="btn btn-secondary" (click)="previousPage()" [disabled]="queryParametars.pageNumber === 1">Previous receipt</button>
    <button type="button" class="btn btn-secondary" (click)="nextPage()" [disabled]="queryParametars.pageNumber >= pageCount() - 1">Next receipt</button>
  </div>

  <div *ngIf="selectedReceipt">
    <h3>Receipt Items</h3>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of selectedReceipt.receiptItems; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.article.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.article.price * item.quantity }}</td>
          <td>
            <button (click)="editItem(item)" class="btn-edit">Uredi</button> <!-- Button za uređivanje -->
            <button (click)="deleteItem(item)" class="btn-delete">Obriši</button> <!-- Button za brisanje -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn-primary" (click)="createNewItem()" style="margin-top:10px">New receipt item</button>

</div>
